{% extends 'template.html' %}

{% block content %}

<style>


label {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label:hover {
    background: #4E8774;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}
</style>

<ul>
    <li><sitename style="color:white;">Travel Pal</sitename></li>
    <li><a href="">Home</a></li>
    <li><a href="../about">About</a></li>
    <li>
        <form action="", method="post">
            {% csrf_token %}
        <input id="location" placeholder="Enter State/Country.." type="text" name="location">
        </form>
    </li>
</ul>

<form action = "" method = "POST">
    {% csrf_token %}
        <h1>{{ city }}</h1>
        <input type="checkbox" id="restaurants" hidden />
        <label for="restaurants">Restaurants</label>
        <div class="content">
        {% for key, value in restaurants.items %}
            {% for v in value %}
                <h4>{{ v.0 }}</h4>
                <h5>{{ v.1 }}</h5>
            {% endfor %}
            </br>
        {% endfor %}
        </div>
        <input type="checkbox" id="hotels" hidden />
        <label for="hotels">Hotels</label>
        <div class="content">
        {% for key, value in hotels.items %}
            {% for v in value %}
                <h4>{{ v.0 }}</h4>
                <h5>{{ v.1 }}</h5>
            {% endfor %}
            </br>
        {% endfor %}
        </div>
        <input type="checkbox" id="sights" hidden />
        <label for="sights">Sightseeing</label>
        <div class="content">
        {% for key, value in sights.items %}
            {% for v in value %}
                <h4>{{ v.0 }}</h4>
                <h5>{{ v.1 }}</h5>
            {% endfor %}
            </br>
        {% endfor %}
        </div>
</form>

{% endblock %}