{% extends 'template.html' %}

{% block content %}
<style>

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.astext:hover {
    color:#04AA6D;
}
</style>

<ul>
    <li><sitename style="color:white;">Travel Pal</sitename></li>
    <li><a class="active">Home</a></li>
    <li><a href="about">About</a></li>
    <li><input type="text" placeholder="Search.." ></li>
</ul>
        <h1 align="center">Popular Destinations</h1>

    <div class="column">
      <h2>{{ location1 }}</h2>
      <p>{{ location1info }}</p>
    </div>

    <div class="column">
        <h2>{{ location2 }}</h2>
        <p>{{ location2info }}</p>
    </div>

    <div class="column">
        <h2>{{ location3 }}</h2>
        <p>{{ location3info }}</p>
    </div>

<form action = "" method = "POST">
    {% csrf_token %}
    <label for="location">Location: </label>
    <input id="location" type="text" name="location">
    <input type="submit" value="OK">
    <h1>Your location is: {{ location }}</h1>
    <h2>Top cities in: {{ location }}</h2>
        {% for key, value in restaurants.items %}
            <button class="astext"> <h2>{{ key }}</h2></button>
            <h4>Top restaurants in: {{ key }}</h4>
            </br>
            {% for v in value %}
                <h4>{{ v.0 }}</h4>
                <h5>{{ v.1 }}</h5>
                {% endfor %}
            </br>

{#            <p id="container"></p>#}
{#            <script type="text/javascript">#}
{#                const restaurant = String("{{ restaurant }}")#}
{#                const city = String("{{ city }}")#}
{#                if(restaurant.includes(city)){#}
{#                    document.getElementById("container").innerHTML = document.getElementById("container").innerHTML + restaurant;#}
{#                }#}
{#            </script>#}
        {% endfor %}
        </br>
</form>

{% endblock %}